*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100vw;
    height: 100vh;
    
}
.window1{
    width: 100%;
    height: 80px;
    border: 4px solid blue;
}
.main{
    width: 100%;
    height: calc(100% - 80px);
    border: 2px solid green;
    display: flex;
    
}
.window2{
    height: 100%;
    width: 30%;
    border: 4px solid red;
}
.container{
    width: 100%;
    height: 40px;
    border: 5px solid green;

}
.videos{
    height: calc(100% - 60px);
    border: 4px slid black;